.filters {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;

    .searchFilter {
        display: flex;
        justify-content: end;
        align-items: flex-end;
        .objects {
            padding-bottom: 5px;
        }
    }
}


