.list{
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    min-height: 18px;
    border: 1px solid #80808045;
    &:hover {
        background-color: #4cb242;
        .edit {
            display: block;
        }
    }
    div:not(.edit) {
        flex-basis: 25%;
    }
    .edit {
        position: absolute;
        right: 2px;
        bottom: 3px;
        display: none;
    }
}

.listHeader {
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    background-color: #312D4B;
    div {
        text-align: center;
        color: grey;
        flex-basis: 25%;
    }
    .listIcon {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        svg {
            font-size: 1.1rem;
            padding-right: 5px;
        }
    }
}


.filters {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;

    .searchFilter {
        display: flex;
        justify-content: end;
        align-items: flex-end;
        .objects {
            padding-bottom: 5px;
        }
    }
}

