.licFilter {
    margin: 10px 6px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 35px;
}

/*
.searchFilter {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .objects {
        padding-bottom: 5px;
    }
}*/
